<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
    <style>
        .ul_navbar{
        background-color:aqua;
        list-style-type:none;
        margin=0;
        padding=0;
        overflow:hidden;
        }
        li{
        float:left;
        }
        li a
        {
        display:block;
        text-decoration:none;
        padding:15px 15px 15px 15px;
        }
        li a:hover
        {
        background-color:Orange;
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>
<body style="background-color:olive;border:4px solid;">
    <header style="background-color:black;color:white; text-align:center;">
    <h1>Lapkart</h1>
</header>
<ul class="ul_navbar" style="margin-top:-10px">

     <li><a href="/auth/home">home</a></li>
    <li><a href="/seller/show/">Show Laptops</a></li>
    {% if user.is_authenticated %}
    <li><a>Hello, {{user.username}}</a></li>
    <li><a href="/auth/logout/">Logout</a></li>
    {% else %}
    <li><a href="/auth/login/">Login</a></li>
    <li><a href="/auth/register/">Register</a></li>
    {% endif %}
</ul><br>

   <div class="text-center mx-auto" style="width:50%;">
    <h2>Signup</h2>
    <form method="post" style="border:2px solid;padding:2%;">
        {% csrf_token %}
        {{ signup_form }}
        <br>
        <input type="submit" value="Sign up" class="btn btn-primary">

    </form>
       </div>
   <p style="text-align:center;color:black;">Already have a Account<a href="/auto/login/"style="font-wiegth:bold;color:purple;text-align:center;">logIn</a> </p>
    <footer style="text-align:center;background-color:grey;color-white;padding;10px 15px 15px 15px;">
    <p style="background-color:black;color:white;">Copyright, Lapkart Pvt.Ltd</p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">


</body>
</html>